// Base navbar styles
nav{
    height: 65px;
    position: relative;
    transition: border-color 200ms ease-in-out,transform 0.3s cubic-bezier(0.35, -0.25, 0.35, 0);
    background-color: $bg-color-light;
    width: 100%;
    z-index: 100;
    border-bottom: solid 1px transparent;
    border-bottom-color: $bg-color-light2;
    display: block;
    // section{
    //     display: block;
    //     box-sizing: border-box;
    //     padding: 0 0 20px;
    //     height: 100%;
    //     margin: 0 auto;
    //     width: 100%;
    // }
    a.brand{
        position: relative;
        top: 15px;
        svg{
            display: inline;
            height: 35px;
            width: 158px;
        }
    }
    li{
        margin-bottom: 0;
        &.nav-item {
            &:first-child a {
                margin-top: 5px;
            }
        }
    }
}

    // Mobile hamburger styles
    .mobile-menu{
        display: inline-block;
        margin-top: 22px;
        height: 20px;
        float: right;
    }
    .mobile-menu-btn{
        width: 25px;
        height: 20px;
        .pancakes{
            position: relative;
            top: 8px;
            background-color: $bg-color-dark;
            width: 25px;
            height: 3px;
            display: block;
            border-radius: 5px;
            transition: top 0.3s 0.2s ease, bottom 0.3s 0.2s ease, background-color 0.3s ease, transform 0.3s ease;
            &::before{
                top: -7px;
                content: '';
                position: absolute;
                left: 0;
                background-color: $bg-color-dark;
                width: 25px;
                height: 3px;
                display: block;
                border-radius: 5px;
                transition: top 0.3s 0.2s ease, bottom 0.3s 0.2s ease, background-color 0.3s ease, transform 0.3s ease;
            }
            &::after{
                bottom: -7px;
                content: '';
                position: absolute;
                left: 0;
                background-color: $bg-color-dark;
                width: 25px;
                height: 3px;
                display: block;
                border-radius: 5px;
                transition: top 0.3s 0.2s ease, bottom 0.3s 0.2s ease, background-color 0.3s ease, transform 0.3s ease;
            }
        }
    }




// Right navigation panel
    // Navigation panel styling
    body {
        overflow-x: hidden;
        position: relative;
        left: 0;
    }

    .main-nav {
    	background: $bg-color-dark;
        color: $color-light;
    	position: fixed;
        width: 240px;
    	height: 100%;
    	top: 0;
    	z-index: 1000;
        ul{
            list-style: none;
        }
        h3 {
        	color: $color-light;
        	font-size: 24px;
        	padding: 17px;
        	margin: 0;
        	font-weight: 300;
        	background: $bg-color-dark;
            border-bottom: solid 1px #31383e;
        }
        .nav-link {
        	display: block;
        	color: #fff;
            font-family: "open sans", sans-serif;
        	font-size: 18px;
            padding: 10px 0 10px 20px;
            text-decoration: none;
        }
        .nav-link:hover {
        	background: darken($bg-color-dark, 7%);
            color: lighten($color-highlight, 33%);
        }
        .nav-link:active {
        	background: darken($bg-color-dark, 12%);
        }
    }




// Panel animation classes
    // Panel animation states
    .hide-right {
    	right: -240px;
        &.show-right {
            right: 0px;
        }
    }

    // Body animation states
    .hide-left {
    	left: -240px;
        border-right: 5px solid darken($bg-color-dark, 5%);
    }

    // Animation transitions
    .main-nav,
    body {
    	-webkit-transition: all 0.3s ease;
    	-moz-transition: all 0.3s ease;
    	transition: all 0.3s ease;
    }

/* Mobile first queries */

    /* Larger than tablet */
    @media (min-width: 750px) {
        nav{
            .mobile-menu{
                display: none;
            }
            .nav-list{
                display: inline-block;
                float: right;
                margin: 10px 0;
                height: 45px;
            }
            li.nav-item{
                margin-left: 30px;
                float: left;
                &:first-child a {
                    margin-top: 0;
                }
            }
            .main-nav{
                display: inline;
                position: relative;
                width: auto;
                font-weight: 600;
                h3 {
                    display: none;
                }
                .nav-link{
                    color: $color-highlight;
                    font-size: 16px;
                }
                .nav-link:hover {
                    background: transparent;
                    color: darken($bg-color-dark, 7%);
                }
                .nav-link:active {
                    background: transparent;
                    color: darken($bg-color-dark, 7%);
                }
            }
            .hide-right{
                right: 0;
            }
        }
    }

    /* Larger than desktop */
    @media (min-width: 1000px) {
        nav{
            height: 100px;
            position: fixed;
            top: 0;
            a.brand{
                position: relative;
                top: 24px;
                svg{
                    display: inline;
                    height: 50px;
                    width: 200px;
                }
            }
            .main-nav{
                .nav-list{
                    margin-top: 26px;
                    float: right;
                }
                .nav-link{
                    font-size: 18px;
                }
            }
        }
    }
