# ignore cache folder
/silverstripe-cache/

# ignore .env file
/.env

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/

# ignore default modules from composer
/_resources/

# ignore default theme
/themes/simple/

# ignore graphql v4 schema folders
/.graphql-generated/
/public/_graphql/
/public/assets/
