# ignore cache folder
/silverstripe-cache/

# ignore .env file
/.env

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/

# ignore default modules from composer
/assets/
/resources/

# ignore default theme
/themes/simple/
