assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
vendor/
admin/
blog/
cms/
docsviewer/
forum/
framework/
testsession/
userforms/
widgets/
themes/
raygun/
/reports
/siteconfig
silverstripe-dynamodb/
crontask/
asset-admin/
campaign-admin/
silverstripe-admin/
versioned/
silverstripe-assets/
graphql/