/* Collapses CTAs panel if menu bar collapses */
#cms-menu.collapsed .demo-ctas {
    display: none;
}
/* Main panel */
#cms-menu .demo-ctas {
    background: transparent;
    margin: 15px 10px 15px 0;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}
#cms-menu .demo-ctas:hover {
    background: #2c343f;
    -webkit-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
}


/* Main Title */
#cms-menu .demo-ctas h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.15;
    padding: 22px 22px;
    margin: 0;
    background-color: #2c343f;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    -webkit-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
}


/* Panel button styles */
#cms-menu .demo-ctas a.cta-btn {
    display: block;
    padding: 16px 22px;
    font-size: 15px;
    line-height: 1.1;
    color: #b0bec7;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(176, 190, 199, 0.1);
}
#cms-menu .demo-ctas a.cta-btn:hover {
    color: #fff;
    background-color: #47c2ef;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}
#cms-menu .demo-ctas a.cta-btn:active {
    background-color: rgba(71, 194, 239, 0.4);
}
#cms-menu .demo-ctas a.cta-btn:hover:first-child {
    color: #fff;
    background-color: #47c2ef;
    border-top-right-radius: 7px;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}
#cms-menu .demo-ctas a.cta-btn:active:first-child {
    background-color: rgba(71, 194, 239, 0.4);
}


/* Media queries */
@media only screen and (max-height:664px){
    #cms-menu .demo-ctas {
        display: none;
    }
}
