/* SilverStripe Demo specific styles - extension of Simple theme */

/* Typography */
.typography img {
	box-shadow: 0 0 2px #666;
}
.typography .homeColumn blockquote {
	width: 100%;
}
.typography blockquote cite {
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-indent: 0;
	display: block;
}


/* Login Bar */
.login-bar {
    height: 70px;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #142237;
    z-index: 100;
    color: white;
	text-align: center;
}




.login-bar .logo-icon {
	height: 58%;
	width: 42px;
	margin-top: 16px;
	margin-left: 16px;
	float: left;
}
.login-bar .logo-type {
	display: none;
}




.login-bar .login-form {
	display: inline;
	margin: 0 auto;
	height: 100%;
}

.login-form h3{
	display: none;
}
.login-form form{
	width: auto;
	display: inline-block;
	vertical-align: top;
	margin-top: 18px;
}
.form-holder button {
	background-color: #142237;
	color: #47c2ef;
	border:2px solid #47c2ef;
	border-radius: 23px;
	display: inline-block;
	padding: 7.5px 15px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 16px 0 0;
	transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}

.form-holder button:hover {
	background-color: #47c2ef;
	color: #142237;
	border: 2px solid #47c2ef;
}
.form-holder button:focus {outline:0;}

.form-holder select {
	background-color: transparent;
	color: white;
	display: inline-block;
	height: 38px;
	text-transform: uppercase;
	font-weight: 700;
	width: 42px;
	border: 0;
	padding: 0;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
    appearance:none;
	text-indent: 0.01px;
	text-overflow: '';
	transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}
.form-holder select:hover {
	color: #47c2ef;
}
.form-holder select::-ms-expand{
  display:none;
}


span.dropdown {
    position:relative;
    display:inline-block;
    z-index:0
}
span.dropdown select {
    z-index:1;
}

span.dropdown:before {
    display:block;
    position:absolute;
    content:'';
    right:-10px;
    top:0;
    height:38px;
    width:28px;
    background:#142237;
    z-index:5;
}
select option {
    background: #142237 !important;
    color: white !important;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #fff;
}
select:hover:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #fff;
}

fieldset {
    display: none;
    margin-bottom: 0;
}
fieldset .form-item {
	display: none;
}

.login-bar a.return {
	display: none;
}


    /* Larger than tablet */
    @media (min-width: 750px) {
		.login-bar .logo-type {
			display: inline;
			width: 114px;
		    height: 58%;
		    float: left;
		    margin: 16px 0 0 12px;
		}
		.login-form {
			float: right;
		}
		.login-form h3{
		    line-height: normal;
			font-size: 18px;
			display: inline-block;
			margin-top: 24px;
			margin-right: 18px;
		}
    }

    /* Larger than desktop */
    @media (min-width: 1000px) {
        .login-bar {
            height: 100px;
        }
		.login-bar .logo-icon {
			height: 50%;
			margin-top: 26px;
			margin-left: 30px;
		}
		.login-bar .logo-type {
			float: left;
			margin: 22px 0 0 14px;
		}
		.login-form {
			float: none;
		}
		.login-form h3 {
			font-size: 24px;
			margin-top: 38px;
		}
		.login-form form{
			margin-top: 30px;
		}
		.form-holder button {
			font-size: 18px;
			text-transform: none;
			letter-spacing: normal;
		}
		.form-holder select {
			margin-top: 3px;
		}
		.login-bar a.return {
			display: inline-block;
			font-size: 18px;
			width: 200px;
			color: white;
			text-decoration: none;
			float: right;
			margin-top: 40px;
			margin-right: 30px;
			transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
		}
		.login-bar a.return:hover {
			color: #ccc;
		}
    }



/* Header */
.header .inner,
.tablet-nav .header .inner {
	padding-top: 35px;
}

/* Homepage */
h1.heroHeading {
	font-size: 45px;
	line-height: 45px;
	color: #B80000;
	padding-bottom: 20px;
}
h1.heroHeading::after {
	/* content: "V3"; */
	font-size: 25px;
	vertical-align: text-top;
}

/* Homepage buttons */
.action-buttons {
	position: fixed;
	top: 0;
	right: 31px;
}
.Actions.action-buttons a.btn {
	margin-top: 0;
	padding: 3px 9px;
}

/* Nav */
nav.secondary {
	margin-bottom: 25px;
}

/* Forms */
.homeColumn .Actions {
	margin-bottom: 0;
}
.Actions {
	overflow: hidden;
}
.Actions a.btn {
    background: #005b92;
    color: #fff;
    border-radius: 0;
    font-size: 11px;
    padding: 6px 10px;
    margin-top: 0;
    float: none;
}
.Actions a.btn:hover {
    border: none;
}
.Actions a.btn:after {
	content: none;
}

/* Widgets */
.WidgetHolder {
	margin: 5px 0 20px;
}
.WidgetHolder ul {
	margin-bottom: 0;
}

/* BREAKPOINT 960px */

@media only screen and (max-width: 960px) {
	.content img {
	    max-width: 97%;
	    height: auto;
	}
	.header .primary ul {
	    margin-left: -12px;
	    -webkit-padding-start: 0px; /* removes default webkit padding on ul items */
	}
}

/* BREAKPOINT 920px for homepage 600px width video */

/* when changing the breakpoint below, change it ito the same value in the script.js file as well */
@media only screen and (max-width: 920px) {
	.tablet-nav .header .inner {
		padding-top: 35px;
	}
	.unit.content-container {
		margin-bottom: 0;
	}
	.homeColumn iframe {
		max-width: 100%;
	}

}
