/* SilverStripe Demo specific styles - extension of Simple theme */

/* Typography */
.typography img {
	box-shadow: 0 0 2px #666;
}
.typography .homeColumn blockquote {
	width: 100%;
}
.typography blockquote cite {
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-indent: 0;
	display: block;
}





/* Header */
.header .inner,
.tablet-nav .header .inner {
	padding-top: 35px;
}

/* Homepage */
h1.heroHeading {
	font-size: 45px;
	line-height: 45px;
	color: #B80000;
	padding-bottom: 20px;
}
h1.heroHeading::after {
	/* content: "V3"; */
	font-size: 25px;
	vertical-align: text-top;
}

/* Homepage buttons */
.action-buttons {
	position: fixed;
	top: 0;
	right: 31px;
}
.Actions.action-buttons a.btn {
	margin-top: 0;
	padding: 3px 9px;
}

/* Nav */
nav.secondary {
	margin-bottom: 25px;
}

/* Forms */
.homeColumn .Actions {
	margin-bottom: 0;
}
.Actions {
	overflow: hidden;
}
.Actions a.btn {
    background: #005b92;
    color: #fff;
    border-radius: 0;
    font-size: 11px;
    padding: 6px 10px;
    margin-top: 0;
    float: none;
}
.Actions a.btn:hover {
    border: none;
}
.Actions a.btn:after {
	content: none;
}

/* Widgets */
.WidgetHolder {
	margin: 5px 0 20px;
}
.WidgetHolder ul {
	margin-bottom: 0;
}

/* BREAKPOINT 960px */

@media only screen and (max-width: 960px) {
	.content img {
	    max-width: 97%;
	    height: auto;
	}
	.header .primary ul {
	    margin-left: -12px;
	    -webkit-padding-start: 0px; /* removes default webkit padding on ul items */
	}
}

/* BREAKPOINT 920px for homepage 600px width video */

/* when changing the breakpoint below, change it ito the same value in the script.js file as well */
@media only screen and (max-width: 920px) {
	.tablet-nav .header .inner {
		padding-top: 35px;
	}
	.unit.content-container {
		margin-bottom: 0;
	}
	.homeColumn iframe {
		max-width: 100%;
	}

}
